$primary-dark: #0D1239;
$primary-white: #FFFFFF;

$button-1: #47B59A;
$button-2: #B23CFD;

$white: #FFFFFF;
$form-field: #ABAAAA;

body {
    background-color: #0D1239;
}
.disabled-link {
    cursor: not-allowed;
    text-decoration:underline;
    color: #d82424; /* Volitelně: změňte barvu textu na šedou nebo podle potřeby */
  }